In [12]:
%pip install pandas 
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.3-cp39-cp39-macosx_11_0_arm64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 192 kB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     |████████████████████████████████| 502 kB 3.9 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 3.1 MB/s eta 0:00:01
Collecting numpy>=1.20.3
  Downloading numpy-1.25.0-cp39-cp39-macosx_11_0_arm64.whl (14.0 MB)
     |████████████████████████████████| 14.0 MB 2.7 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/teabetita/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.25.0 pandas-2.0.3 pytz-2023.3 tzdata-2023.3
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [22]:
df = pd.read_csv("fct_invoice.csv")
df

,invoice_no,customer_id,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,229,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,3433,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,644,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,4900,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,1089,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...
99452,I219422,2344,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,172,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,425,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,577,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,30,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

In [23]:
df.columns

Index(['invoice_no', 'customer_id', 'category', 'quantity', 'price',
       'payment_method', 'invoice_date', 'shopping_mall'],
      dtype='object')

In [25]:
dp.columns

Index(['age', 'first_name', 'gender', 'id', 'last_name'], dtype='object')

In [24]:
import json

with open("dim_customer.json") as p:
	data = json.load(p)
	dp=pd.DataFrame(data)

In [86]:
#Describing the data only (using only single column):
#1. How many unique customers are there in the dataset? Can you identify any frequent or loyal customers?
unique_customers = df["customer_id"].unique()
print(len(unique_customers))
print(df["customer_id"].value_counts()[0:10])
print("----")

#2. What are the different categories of products available? How many unique categories are there?
different_categories = df["category"].unique()
print(different_categories)
print("number of unique categories:", len(different_categories))
print("----")

#3. What are the different payment methods used by customers? Which payment methods are the most popular?
payment_methods = df["payment_method"]
credit_card = len(df.loc[df["payment_method"]=="Credit Card"])
debit_card = len(df.loc[df["payment_method"]=="Debit Card"])
cash = len(df.loc[df["payment_method"]=="Cash"])
print("Credit Card:", credit_card)
print("Debit Card:", debit_card)
print("Cash:", cash)
print("TOTAL:", int(credit_card + debit_card + cash))
print("----")

#4. How is the data distributed across different invoice dates? Are there any seasonal trends or patterns?


#5. Which shopping malls are included in the dataset? Are there any malls that contribute more sales than others?
shopping_malls = df["shopping_mall"].unique()
print(shopping_malls)

df["total_revenues"] = df["quantity"] * df["price"]
df.head()

df.groupby("shopping_mall").sum()["total_revenues"]

5191
customer_id
50    128
7     121
4     117
80    113
74    112
61    112
75    110
53    110
26    109
45    109
Name: count, dtype: int64
----
['Clothing' 'Shoes' 'Books' 'Cosmetics' 'Food & Beverage' 'Toys'
 'Technology' 'Souvenir']
number of unique categories: 8
----
Credit Card: 34931
Debit Card: 20079
Cash: 44447
TOTAL: 99457
----
['Kanyon' 'Forum Istanbul' 'Metrocity' 'Metropol AVM' 'Istinye Park'
 'Mall of Istanbul' 'Emaar Square Mall' 'Cevahir AVM' 'Viaport Outlet'
 'Zorlu Center']

shopping_mall
Cevahir AVM          12645138.20
Emaar Square Mall    12406100.29
Forum Istanbul       12303921.24
Istinye Park         24618827.68
Kanyon               50554231.10
Mall of Istanbul     50872481.68
Metrocity            37302787.33
Metropol AVM         25379913.19
Viaport Outlet       12521339.72
Zorlu Center         12901053.82
Name: total_revenues, dtype: float64

In [119]:
#Using two or more columns:
#1. How many males or females are shopping in the particular shopping mall
merged_df = pd.merge(df[["shopping_mall"]], dp[["age","gender"]],left_on = df["customer_id"],right_on =[dp["id"]])

counts = merged_df.groupby('shopping_mall')['gender'].value_counts()

print(counts)

shopping_mall      gender
Cevahir AVM        F          2594
                   M          2397
Emaar Square Mall  F          2460
                   M          2351
Forum Istanbul     F          2640
                   M          2307
Istinye Park       F          5016
                   M          4765
Kanyon             F         10244
                   M          9579
Mall of Istanbul   F         10233
                   M          9710
Metrocity          F          7756
                   M          7255
Metropol AVM       F          5230
                   M          4931
Viaport Outlet     F          2548
                   M          2366
Zorlu Center       F          2665
                   M          2410
Name: count, dtype: int64

In [126]:
new_df = df[["customer_id","shopping_mall"]].copy()
new_df["id"] = new_df["customer_id"]

new_df = new_df.merge(dp, how = "left")
new_df.head()

   customer_id   shopping_mall    id   age   first_name gender last_name
0          229          Kanyon   229   NaN      William      M  Anderson
1         3433  Forum Istanbul  3433  34.0     Danielle      F    Rivera
2          644       Metrocity   644  46.0  Christopher      M  Stephens
3         4900    Metropol AVM  4900  46.0        Laura      F     Kelly
4         1089          Kanyon  1089   NaN      Richard      M    Rhodes

In [128]:
#2. Demographics related to price / quantity / category of items being bought
df['total_revenue']=df['quantity']*df['price']

merged_df = pd.merge(df[['price','category','quantity','total_revenue']], dp[['age','gender']], left_on=df['customer_id'],right_on=dp['id'])

#basically count how frequent each gender buys a category

counts = merged_df.groupby('category')['gender'].value_counts()
print(counts)

category         gender
Books            F          2573
                 M          2408
Clothing         F         17808
                 M         16679
Cosmetics        F          7785
                 M          7312
Food & Beverage  F          7696
                 M          7080
Shoes            F          5167
                 M          4867
Souvenir         F          2571
                 M          2428
Technology       F          2533
                 M          2463
Toys             F          5253
                 M          4834
Name: count, dtype: int64

In [131]:
#3. Category and payment method (may preference ba in payment method when buying a specific category)
frequency_table = df.groupby('category')['payment_method'].value_counts().reset_index(name='frequency')

print(frequency_table)

           category payment_method  frequency
0             Books           Cash       2268
1             Books    Credit Card       1696
2             Books     Debit Card       1017
3          Clothing           Cash      15456
4          Clothing    Credit Card      12025
5          Clothing     Debit Card       7006
6         Cosmetics           Cash       6674
7         Cosmetics    Credit Card       5336
8         Cosmetics     Debit Card       3087
9   Food & Beverage           Cash       6587
10  Food & Beverage    Credit Card       5250
11  Food & Beverage     Debit Card       2939
12            Shoes           Cash       4474
13            Shoes    Credit Card       3553
14            Shoes     Debit Card       2007
15         Souvenir           Cash       2211
16         Souvenir    Credit Card       1770
17         Souvenir     Debit Card       1018
18       Technology           Cash       2235
19       Technology    Credit Card       1753
20       Technology     Debit Card       1008
21             Toys           Cash       4542
22             Toys    Credit Card       3548
23             Toys     Debit Card       1997

In [106]:
#4. Category and shopping mall (may specialty ba ung mall?)
frequency_table = df.groupby('category')['shopping_mall'].value_counts().reset_index(name='frequency')

print(frequency_table)

   category      shopping_mall  frequency
0     Books   Mall of Istanbul       1025
1     Books             Kanyon       1013
2     Books          Metrocity        752
3     Books       Metropol AVM        476
4     Books       Istinye Park        462
..      ...                ...        ...
75     Toys     Forum Istanbul        531
76     Toys     Viaport Outlet        515
77     Toys        Cevahir AVM        514
78     Toys       Zorlu Center        513
79     Toys  Emaar Square Mall        464

[80 rows x 3 columns]

In [130]:
#5. Daily / Monthly / Yearly breakdown of items sold in a given shopping mall

In [ ]:
#6. Describing the customer using their purchase history (understanding user persona)

In [1]:
#Easy
#1. How many unique customers are in the dataset?

#2. What are the different categories of products available? How many unique categories are there?

#3. Which payment method is the most popular? How many times was it used?

In [ ]:
#Medium
#1. What are the three most popular categories, by total sales?

#2. What are the total sales attributed to customers over the age of 45?

#3. How is the data distributed across different invoice dates? Are there any seasonal trends or patterns? (Use a graph for this.)

In [ ]:
#Hard
#1. Create a pivot table showing the breakdown of sales across these dimensions, in this order: category, decade age range (e.g., 10-19, 20-29, and so forth).